* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}
body{
  background-color: white;
  color: whitealice;
  
}

.titulo{
  width: 100%;
  text-align: center;
}

@media (max-width:800px){

}